@use "../abstracts";
.dropdown {
  position: absolute;
  left: 0; // ko định vị top , ví top khi hover sẽ ko hiện dropdown
  padding-top: 54px; // cầu nối khi hover từ dropdown xuống inner
  width: min(1240px, 100%);
  display: none;
  @include abstracts.screen(lg) {
    position: initial;
    display: block;
    padding-top: 0;
  }

  &__inner {
    --inner-padding: 30px;
    position: relative;
    padding: var(--inner-padding);
    border-radius: 20px;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
    &::before {
      content: url("../icons/dropdown.svg");
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);
    }
    @include abstracts.screen(lg) {
      padding: 0 40px;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      &::before {
        content: none;
      }
    }
    @include abstracts.screen(sm) {
      padding: 0 20px;
    }
  }
}
.top-menu {
  --main-column-width: 292px;
  --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
  position: relative;
  &__main {
    width: var(--main-column-width);
    height: var(--max-inner-height);
    border-radius: 1px solid var(--top-menu-border-color);
    overflow-y: auto;
    @include abstracts.screen(lg) {
      width: 100%;
      height: auto;
      border-width: none;
    }
  }
}

.menu-column {
  display: flex;
  gap: 14px;
  + .menu-column {
    margin-top: 22px;
  }
  @include abstracts.screen(lg) {
    margin-top: 19px;
  }
  &__content {
    flex: 1; //  tất cả các phần tử sẽ có kích thước bằng nhau và chiếm toàn bộ không gian còn lại
  }
  &__icon {
    flex-shrink: 0; //  không co lại khi không gian trong container bị thiếu.
    width: 36px;
    height: 36px;
    position: relative;
    @include abstracts.screen(xl) {
      display: none;
    }
    @include abstracts.screen(lg) {
      display: block;
    }
  }
  &__icon-1 {
    object-fit: contain;
    width: 30px;
    height: 30px;
  }
  &__icon-2 {
    position: absolute;
    object-fit: contain;
    width: 24px;
    height: 24px;
    bottom: 0;
    right: 0;
    filter: var(--menu-column-icon-color);
  }
  &__heading {
    margin-top: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    @include abstracts.screen(lg) {
      margin-bottom: 26px;
    }
  }
  &__list {
    margin-top: 19px;
    @include abstracts.screen(lg) {
      margin-top: 0;
    }
  }
  &__item {
    &--active .sub-menu {
      display: grid;
    }
  }
  &__item--active > &__link,
  &__item:hover > &__link {
    color: #0071dc;
    font-weight: 500;
  }
  &__link {
    display: block;
    padding: 7px 0;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}
.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-column-width);
  padding-left: var(--inner-padding);
  gap: var(--inner-padding);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
  @include abstracts.screen(lg) {
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }
  &--not-main {
    inset: initial;
    position: initial;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: var(--max-inner-height);
    padding-left: 0;
    @include abstracts.screen(lg) {
      grid-template-columns: 1fr;
      height: auto; // bỏ thanh cuộn con
    }
  }
}
